.jumbotron {
  height: 450px;
  background-image: url('/img/Header.jpg');
  background-position: center 65%;
  background-size: cover;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  display: none;
  h1 {
    font-weight: bold;
  }
}
