// $body-bg: #000;

input {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
  background-clip: border-box;
}

button, .btn {
  border-radius: 0;
}

.container {
  padding: 20px 0;
}

.MuiNativeSelect-select:focus {
  background-color: white !important;
}

.row {
  margin: 0;
}

.facebook-btn {
  margin: 0 10px !important;
  padding: 14px !important;
  i {
    margin-right: 10px;
  }
}

.google-btn {
  box-shadow: none !important;
  background: #eee !important;
  border-radius: 4px !important;
  >div {
    background: #eee !important;
  }
}

.breadcrumb {
  background-color: #f8f9fa;
  border-radius: 0;
}

.select-input {
  margin-right: 10px;
}

.company-address {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

@import '~bootstrap/scss/bootstrap.scss';
