@import '~bootstrap/scss/bootstrap.scss';

// Global

.breadcrumb {
  background-color: #f8f9fa;
  border-radius: 0;
}

input, button, .btn {
  border-radius: 0;
}

.container {
  margin: 20px auto;
}

.row {
  margin: 0;
}

form {
  margin-bottom: 100px;
}
