input {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
  background-clip: border-box;
}

button, .btn {
  border-radius: 0;
}

.container {
  padding: 20px 0;
}

.MuiNativeSelect-select:focus {
  background-color: white !important;
}

.row {
  margin: 0;
}

.facebook-btn {
  padding: 14px !important;
  i {
    margin-right: 10px;
  }
}